<div class="background">
    <p class="header">
       Dobrodosli na sajt rasadnika Zelenik
     </p>
     <nav class="nav justify-content-center">
        <a routerLink = "/login" class="nav-item nav-link ">Login</a>
     </nav>
     <br/>
     <div style="text-align: center" class="myClass_nalog">Nemate nalog? Registrujte se kao: </div>
     <br/>
     <nav class="nav justify-content-center">
        <a href="/regPolj" class="nav-item nav-link ">Poljoprivrednik</a>
        <a href="/regPred" class="nav-item nav-link ">Preduzece</a>
         
     </nav>
</div>