<div class="background">
<div class="row ">
    <div class="col-md-4"></div>
    <div class="col-md-4 " style="color: black;">
        <form class="text-center border border-light p-4" [formGroup] = "regPoljForm" (ngSubmit) = "onSubmit()" >
            <p class="h4 mb-4">
                Registrujte se kao poljoprivrednik
            </p>
            <div class="form-group">
                <label for="ime">Ime</label>
                <input type="text" class="form-control" id="ime" formControlName = "ime">
                <div class="error" *ngIf="submitted && myForm.ime.errors?.required">
                    Ime je obavezno
                </div>
            </div>
            <div class="form-group">
                <label for="prezime">Prezime</label>
                <input type="text" class="form-control" id="prezime" formControlName="prezime">
                <div class="error" *ngIf="submitted && myForm.prezime.errors?.required">
                    Prezime je obavezno
                </div>
            </div>
            <div class="form-group">
                <label for="korime">Korisnicko ime</label>
                <input type="text" class="form-control" id="korime" formControlName="korisnickoIme">
                <div class="error" *ngIf="submitted && myForm.korisnickoIme.errors?.required">
                    Korisnicko ime je obavezno
                </div>
            </div>
            <div class="form-group">
                <label for="loz">Lozinka</label>
                <input type="password" class="form-control" id="loz" formControlName="lozinka">
                <div class="error" *ngIf="submitted && myForm.lozinka.errors?.required ">
                    Lozinka je obavezna
                </div>
                <div class="error" *ngIf="submitted && myForm.lozinka.errors?.invalidPassword">
                    Lozinka nije ispostovala obaveznu formu
                </div>
                
            </div>
            <div class="form-group">
                <label for="loz_potvrda">Lozinka_potvrda</label>
                <input type="password" class="form-control" id="loz_potvrda" formControlName="lozinka_potvrda">
                <div class="error" *ngIf="submitted && myForm.lozinka_potvrda.errors?.required ">
                    Potvrda lozinke je obavezna
                </div>
                <div class="error">{{lozinke_poklapanje}}</div>
          
                
                
            </div>

            <div class="form-group">
                <label for="datum" style="text-align: left;">Datum rodjenja</label>
                <input type="date" class="form-control" id="datum" formControlName="datumRodjenja" >
                <div class="error" *ngIf="submitted && myForm.datumRodjenja.errors?.required">
                    Odabir datuma rodjenja je obavezan
                </div>
            </div>

            <div class="form-group">
                <label for="mes">Mesto rodjenja</label>
                <input type="text" class="form-control" id="mes" formControlName="mestoRodjenja">
                <div class="error" *ngIf="submitted && myForm.mestoRodjenja.errors?.required">
                    Unos mesta rodjenja je obavezan
                </div>
            </div>
            <div class="form-group">
                <label for="tel">Kontakt telefon</label>
                <input type="text" class="form-control" id="tel" formControlName="kontaktTelefon">
                <div class="error" *ngIf="submitted && myForm.kontaktTelefon.errors?.required">
                    Telefon je obavezan
                </div>
            </div>

            <div class="form-group">
                <label for="email">Mejl</label>
                <input type="email" class="form-control" id="mejl" formControlName="emailPosta">
                <div class="error" *ngIf="submitted && myForm.emailPosta.errors?.required">
                    Mejl je obavezan
                </div>
                <div class="error" *ngIf="submitted && myForm.emailPosta.errors?.email">
                    Nije dobar format mejla
                </div>
            </div>

           <!--
               <div class="form-group ">
                <re-captcha (resolved) = "resolved($event)"
                            formControlName="recaptchaReactive" 
                            siteKey="6LcDL-kUAAAAAP3xs9JkpOL0h6_j6lo4zTRAFq96">  
                </re-captcha>
            </div>
           -->
            
            

            <div class="form-group">
                <button type="submit" class="btn btn-success">Registruj</button>
            </div>




            </form>
            <div class="text-center">Posedujete nalog? Molim Vas <a routerLink = '/login'> ulogujte se</a></div>
            <div class="error text-center">{{message}}</div>
    </div>
    
</div>
</div>